* {
    margin: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
body {
    font-family: "Noto Sans", sans-serif;
    background-color: #efeeee;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header img {
    width: 80px;
    height: 80px;
    padding-left: 15px;
}
header {
    display: flex;
    flex-direction: row;
    height: 80px;
    width: 100%;
    justify-content: space-between;
    background-color: rgba(239, 238, 238, 0.68);
    padding: 10px, 0px, 10px, 0px;
    position: fixed;
    z-index: 10;
    top: 0;
    
}
.lupita{
    width: 50px;
    height: auto;
}
#menu ul{
    display:flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}
#menu ul li{
    list-style: none;
    padding: 20px ;
}
#menu a{
    text-decoration: none;
    color: black;
}
.dropdown{
    position: relative;
    align-items: center;
}
.dropdown img{
    width: 14px;
    height: 10px;
    padding: 0;
}
.dropdown-content{
    position: absolute;
    margin-top: 10px;
    min-width: 15vw;
    background-color: rgba(255, 255, 255, 1);
    border-radius:5px ;
    display: none;
}
.dropdown-content a{
    padding: 15px;
    align-items: center;
    font-size: 1rem;
    color: rgba(51, 35, 31, 1);
    min-width: 15vw;
    height: 100%;
    
}
.menu-items a:hover{
    background-color:rgba(235, 87, 87, 1);
    border-radius: 5px;
    opacity: 90%;
    padding: 10px;    
}
.dropdown-content a:hover{
    background-color: rgba(235, 87, 87, 1);
}
.dropdown:hover .dropdown-content{
    display:flex;
    flex-direction: column;
}
.main-1 {
    background-image: url(images/bloody-knife-sink.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.main-1 h1 {
   font-size: 2rem;
   color: #33231F;
   position: relative;
   width: fit-content;
   height: fit-content;
   top: 15vh;
   right: 10vw;
   padding: 50px;
   animation: 3s infinite alternate bounce ;
}
@keyframes bounce{
    from {
        transform: translateY(-15px);
    }
    to {
        transform: translateY(15px);
    }
}
.main-1 h3{
    font-size: 1.2rem;
    font-style: italic;
    color: #33231f;
    position: relative;
    right: 5vw;
    top: 15vh;
    width: 520px;  
}
.subtitle{
    font-size: 1.5rem;
    color:#F5F4F4;
    border-radius: 5px;
    background-color: #787676;
    height: 12vh;
    min-width: 32vw;
    display: flex;
    align-items: center;
    padding-left: 20px;
    position: absolute;
    top: 94vh;
}
.container-1 {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: nowrap;
}
.textbox {
    flex: 1;
    font-size: 20px;
    background-color: rgba(229, 229, 229, 1);
    border: 1px solid rgba(0, 0, 0, 1);
    width: 65%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 50px;
    left: 2vw;
    top: 10vh;
    padding: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
#handcuff {
    background-image: url("images/handcuff2.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
    border-radius: 50%;
    min-width: 500px;
    min-height: 500px;
    position: relative;
    right: 5vw;
    top: 8vh;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
}
.container-2 {
    margin-top: 20vh;
    background-color: rgba(235, 87, 87, 1);
    height: 336px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.container-2 h4 {
    color: rgba(51, 35, 31, 1);
    font-size: 25px;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.team {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 50px;
    color: rgba(245, 244, 244, 1);
    text-align: center;
}
.team-pic {
    width: 200px;
    height: 200px;
    display: flex;
    position: relative;
    bottom: 30px;
}
.contact {
    background-color: #e5e5e5;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 40px;
}
.contact h3 {
    position: relative;
    font-size: 30px;
    color: rgba(51, 35, 31, 1);
    margin-right: 30px;
    margin-top: 40px;
}
.contact-content {
    position: relative;
    font-size: 20px;
    border-radius: 5px;
    background-color: #787676;
    color: rgba(255, 255, 255, 1);
    height: 60px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: end;
    padding: 10px;
    padding-right: 25px;
}
   footer{
       height: 35px;
       width: 100%;
       background-color: rgba(51, 35, 31, 1);
       color: rgba(255, 255, 255, 1);
       position: relative;
       text-align: center;
   }
   .footer-copyright{       
       display: inline-block;
       padding-right: 20px;
       padding-left: 20px;
       position: relative;
   }
   .footer-copyright:nth-of-type(2)::after,
   .footer-copyright:nth-of-type(2)::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: white;
    width: 1px;
    height: 19px;
   }
   .footer-copyright:nth-of-type(2)::after {
    right: -10px;
}
   .footer-copyright:nth-of-type(2)::before {
    left: -10px;
}

.pericias{
    background-color: #E5E5E5;
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    overflow-x: hidden;
    justify-content: center;
}
.paragraph{
    background-color: rgba(229, 229, 229, 1);
    font-size: 20px;
    border: 1px solid rgba(0, 0, 0, 1);
    height: fit-content;
    width: 40%;
    padding: 20px;
    }
.circle{
    background-size: cover;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    position: relative;
    transform: translateX(50%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
}
.price{
    background-color: #E5E5E5;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.card{
    border: 2px solid rgba(51, 35, 31, 1);
    background-color: rgba(196, 196, 196, 0);
    color: rgba(51, 35, 31, 1);
    height: 80%;
    width: auto; 
    overflow: auto;
}

.card h4{
    margin-left:auto ;
    margin-right: auto;
    font-size: 1.8rem;
    width: 50%;
    text-align: center;
    align-content: center;
    padding: 35px;
    
}
.card p {
    font-size: 4rem;
    text-align: center;
    padding-bottom: 3vh;
    padding-top: 3vh;
}
.card ul{
    display: flex;
    flex-direction: column;
    font-size:1.2rem ;
    width: 20vw;
    margin-left: auto;
    margin-right: auto;
}

.card ul li{
    padding: 15px;
}
.conocenos{
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    
 }
 .conocenos h3{
     position: relative;
     padding: 20px;
     color:rgba(0, 0, 0, 1);
     font-size: 2.2rem;
     display: flex;
     justify-content: center;
     font-style: italic;
 }
 .conocenos-container{
     max-height: 100vh;
     display: flex;
     flex-flow: column wrap;
     align-content: space-between;
 }
 .conocenos-content{
     position: relative;
     display: flex;
     flex-direction: row;
     padding: 20px;
     align-items: center;
     width: 50%;

 }
 .conocenos-content img{
     width: 170px;
     height: 170px;
 }
 .info{
    border: 1px solid rgba(0, 0, 0, 1);
    background-color:rgba(255, 255, 255, 1);
    font-size: 0.85rem;
    width: 50%;
    height: fit-content;
    padding: 10px;
    margin-left: 2vh
 }
 .button{
     position: relative;
     margin-left: 2vw;
     margin-top: 10vh;
     margin-bottom: 10vh;
     width: fit-content;
     padding: 10px;
     background-color: rgba(235, 87, 87, 1);
     border-radius: 10px;
     border-style: none;
     cursor: pointer;
     font-size: 1rem;
     color: rgba(255, 255, 255, 1);
    }

   @media only screen and (max-width: 1024px) {
    .team {
        overflow-x: scroll;
    }
    .container-1{
        flex-wrap: wrap;
        justify-content: center;
    }
    .circle{
        transform: translate(30%) scale(90%);
    }
    .card{
        width: fit-content;
    }
    .card h4{
        transform: scale(90%);
        align-content: center;
        padding: 15px;
        width: fit-content;
    }
    .conocenos-container{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        overflow-y: scroll;
    }
    .conocenos-content{
        width: 90%;
    }
    .conocenos-content img{
        width: 200px;
        height: 200px;
    }
    .info{
        font-size: 1rem;
    }
}
@media only screen and (max-width: 768px){
    .pericias{
        flex-wrap: wrap;
    }
    .circle, #handcuff{
        transform: translate(0) scale(90%);
    }
    .paragraph{
        margin-top: 5vh;
        margin-left: 10px;
        width: fit-content;
        overflow: scroll;
    }
    .price{
        display: flex;
        flex-direction: column;
        height: auto;  
        padding-top: 10vh;
        padding-bottom: 10vh;     
    }
    .card{
        height:fit-content ;
        width: 80vw;
    }
    .card ul {
     width: fit-content;
    }

}

@media only screen and (max-width: 625px) {
 header{
     height: auto;
     flex-direction: column;
     align-items: flex-start;
     position: relative;
 }
 header img{
     position: absolute;
     margin: 0;
     padding: 10px;
     width: 40px;
     height: 40px;
 }
.lupita{
    display: none;
}
.dropdown img{
    padding: 5px;
}
.main-1{
    background-position: 75%;
}
.main-1 h1{
    width: 45%;;
}
.main-1 h3{
    width: 80%;
}
.subtitle{
    top: 100vh;
    width: 80%;
}
}
@media only screen and (max-width: 475px){
        .circle{
            transform: scaleY(80%);
        }
        #handcuff{
            transform: translateX(5vw) scale(75%);
        }
        .conocenos-content{
            display: flex;
            flex-direction: column;
            padding: 10px;
        }
        .info{
            width: 100%;
            font-size: 0.9rem;
            margin-top: 5vh;
        }
    }
    